
body {
  background-color: #262626;
  margin-bottom: 55px;
}
#bannerName {
    font-family: 'Russo One', sans-serif;

    text-shadow: 1px 1px 10px;
}

.container {
  border-radius: 5px;
  background-color: #46E23F;
  font-family: 'Ubuntu', sans-serif;
}

.bannerPhoto {
    border: solid;
    border-color: black;
    margin: auto;
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

#greenbox {
    padding: 15px;
    font-size: 18px;
    box-shadow: 2px 4px 25px black;
    border-radius: 5px;
    background-color: #ABE9A8;
    margin-bottom: 15px;
}

#jumbo {
    box-shadow: 2px 4px 25px black;
    margin-top: 15px;
    z-index: 99;
    background: rgba(238, 238, 238, 0.6);
}

#aboutme {
  margin: 10px;
}

#aboutme h3 {
  text-decoration: underline;
}

#aboutme p {
  font-size: 18px;
}

#projects {
   padding: 10px;
   margin-top: 75px;
   margin-bottom: 75px;
}

#projects p  {
  font-size: 16px;
}

#projects h2 {
  text-decoration: underline;
}

#portfolio {
  margin: 10px;
}

#portfolio h3 {
  text-decoration: underline;
}

#skillset {
    padding: 10px;
    margin-top: 75px;
    margin-bottom: 75px;
}

#skillset h3 {
    text-decoration: underline;
}

#skillset p {
    font-size: 16px;
}

#contactme {
    justify-content: center;
}

#contactme h3 {
  text-decoration: underline;
}

#contactBtns {

    display: inline-flex;
    max-height: 40px;
    max-width: 40px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

#contactBtns:hover {
    box-shadow: 2px 2px 10px;
}

#contactBtns:active {
    transform: translateY(2px);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 100; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: #47e23f; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-right: 15px;/* Some padding */
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    box-shadow: 3px 3px 30px;
    background-color: #555; 
}

#myBtn:active {
    background-color: black;
    box-shadow: 2px 2px 30px inset;
    transform: translateY(2px);
}

.navbar {
    margin: 0;
    box-shadow: 2px 2px 20px black;
}

.navbar-brand {
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}

#navimg {
    border-radius: 50%;
    border-color: #555;
    height: 30px;
    width: 30px;
}



/* Converts bootstrap carousel transition from slide to fade */
.carousel.fade {
    opacity: 1;
  }
  .carousel.fade .item {
    -moz-transition: opacity ease-in-out 2s;
    -o-transition: opacity ease-in-out 2s;
    -webkit-transition: opacity ease-in-out 2s;
    transition: opacity ease-in-out 2s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
  }
  .carousel.fade .item:first-child {
    top:auto;
    position:relative;
  }
  .carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out 2s;
    -o-transition: opacity ease-in-out 2s;
    -webkit-transition: opacity ease-in-out 2s;
    transition: opacity ease-in-out 2s;
    z-index:2;
  }
